# Allow user-space access to AMD X3D V-Cache mode switching
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="AMDI0101:*", RUN+="/bin/chmod 0666 /sys%p/amd_x3d_mode"
