[Unit]
Description=Home Partition Resize
After=local-fs.target
Before=frzr_swap-swap-swapfile.swap sk-setup-kernel-options.service

[Service]
#Type=oneshot
User=root
ExecStart=/usr/bin/expand_home_partition.expect
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target