[Unit]
Description=Restart nix-daemon
After=local-fs.target
RequiresMountsFor=/nix/store

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/systemctl daemon-reload && if /usr/bin/systemctl is-active nix-daemon; then /usr/bin/systemctl restart nix-daemon; fi"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target