[Unit]
Description=Sk-ChimeraOS Bind Mount Service
After=systemd-remount-fs.service

[Service]
Type=simple
ExecStart=/usr/bin/sk-bind-mount

[Install]
WantedBy=multi-user.target