[Unit]
Description=SkorionOS daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sk-chos-daemon

[Install]
WantedBy=multi-user.target