[Unit]
Description=Create Swap File
DefaultDependencies=no
Before=shutdown.target frzr_swap-swap-swapfile.swap
Conflicts=shutdown.target
ConditionFileIsExecutable=/usr/bin/sk-mkswapfile
ConditionFileIsExecutable=/usr/bin/sk-check-swapfile
RequiresMountsFor=/frzr_root

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/sk-check-swapfile || /usr/bin/sk-mkswapfile'

[Install]
WantedBy=swap.target
