[Unit]
Description=Auto keep next boot entry
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sk-setup-next-boot

[Install]
WantedBy=multi-user.target