[Unit]
Description=Auto update boot entry
After=local-fs.target
After=frzr_root-swap-swapfile.swap

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/sk-update-boot-entry
ExecStopPost=/usr/bin/efibootmgr -N

[Install]
WantedBy=multi-user.target
