[Unit]
Description=Auto update boot entry
After=local-fs.target
After=frzr_root-swap-swapfile.swap

[Service]
Type=oneshot
ExecStart=/usr/bin/sk-update-boot-entry

[Install]
WantedBy=multi-user.target
