[Unit]
Description=Auto setup kernel options
After=local-fs.target
After=frzr_root-swap-swapfile.swap

[Service]
Type=oneshot
ExecStart=/usr/bin/sk-setup-kernel-options

[Install]
WantedBy=multi-user.target
