[Unit]
Description=Auto clear gamescope modes
After=network.target

[Service]
Type=simple
ExecStart=sed -i '/Internal screen/d' "${HOME}/.config/gamescope/modes.cfg"

[Install]
WantedBy=default.target

