[Unit]
Description=Game Save Monitor

[Service]
Type=simple
ExecStart=/usr/bin/bash -c '/usr/libexec/monitor-gamesave'

[Install]
WantedBy=default.target