[Unit]
Description=Waydroid Desktop Monitor

[Service]
Type=simple
ExecStart=/usr/bin/bash -c '/usr/libexec/monitor-waydroid'

[Install]
WantedBy=default.target