[Unit]
Description=Waydroid Desktop Monitor

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/libexec/monitor-waydroid

[Install]
WantedBy=default.target