[Unit]
Description=Sk-Chimeraos user daemon
After=graphical.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c '/usr/bin/sk-chos-user-daemon'

[Install]
WantedBy=default.target