[Unit]
Description=Sk-Chimeraos user daemon
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/sk-chos-user-daemon

[Install]
WantedBy=default.target