[Unit]
Description=Sk ChimersOS first run daemon
ConditionPathExists=|!/etc/sk-first-run-done
ConditionPathExists=|/etc/sk-first-run-force

[Service]
Type=simple
ExecStart=/usr/bin/__sk-first-run-daemon

[Install]
WantedBy=default.target