polkit.addRule(function(action, subject) {
    if ((action.id == "org.sk-chos.policykit.system.refind.setup") &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});