[Desktop Entry]
Version=1.0
Name=SkorionOS Tool with command
Name[zh_CN]=SkorionOS 配置(带输出)
Type=Application
Icon=sk-chos-tool-command
Exec=/usr/bin/sk-chos-tool-command
Comment[zh_CN]=SkorionOS 的配置工具
Comment=custom config for sk-ChimeraOS
Terminal=false
Categories=System;
Keywords=system;