[Desktop Entry]
Version=1.0
Name=SkorionOS Tool
Name[zh_CN]=SkorionOS 配置
Type=Application
Icon=sk-chos-tool
Exec=/usr/bin/sk-chos-tool
Comment[zh_CN]=SkorionOS 的配置工具
Comment=custom config for sk-ChimeraOS
Terminal=false
Categories=System;
Keywords=system;