[Desktop Entry]
Version=1.0
Name=Sk Config
Name[zh_CN]=SK SteamOS系统配置
Type=Application
Icon=logisim
Exec=/usr/bin/sk-holoiso-config
Comment[zh_CN]=sk SteamOS的个配置工具
Comment=custom config for sk-holoiso
Terminal=false
Categories=System;
Keywords=system;
