[Unit]
Description=Set hostname to alphanumeric characters
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostname-fix
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target