[Unit]
Description=Restart nix-daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl restart nix-daemon

[Install]
WantedBy=multi-user.target