[Unit]
Description=Restart nix-daemon
After=local-fs.target
RequiresMountsFor=/nix/store

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/systemctl daemon-reload && /usr/bin/systemctl restart nix-daemon"

[Install]
WantedBy=multi-user.target