[Unit]
Description=Mount Overlay File System for Fonts
After=systemd-remount-fs.service

[Service]
Type=oneshot
ExecStart=/usr/bin/overlay-fonts mount

[Install]
WantedBy=multi-user.target
