[Unit]
Description=resume after graphical
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/sk-resume
Type=simple

[Install]
WantedBy=multi-user.target
