[Unit]
Description=sk-chos-tool automatic updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "curl -L https://gitee.com/honjow/sk-chos-scripts/raw/master/install/install-sk-chos-tool.sh | sh"
User=gamer
RemainAfterExit=false
StandardOutput=journal
