[Unit]
Description=Auto update boot entry
After=local-fs.target
Before=update_boot_config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sk-update-boot-entry 1

[Install]
WantedBy=multi-user.target
