[Unit]
Description=Auto update boot entry
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sk-update-boot-entry --reboot

[Install]
WantedBy=multi-user.target
